[build]
  publish = "build"
  functions = "netlify/functions"

[build.environment]
  NODE_OPTIONS = "--openssl-legacy-provider"

[dev]
  functions = "netlify/functions"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
